In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create a file path
path= r'C:\Users\Zinnia\Documents\Career Foundry Data Analytics Course\Achievement 6\Data\Edited'

In [3]:
#Import orders data using os
df_Open_Space=pd.read_csv(os.path.join(path,'Open_Space_Edited.csv'), index_col=False)

In [4]:
#Begin gathering basic information on the Open Space dataset
df_Open_Space.shape

(90700, 4)

In [5]:
df_Open_Space.head()

   Object_ID    County  Municipality  GIS_Acres
0       3432  Atlantic  Absecon City   0.460114
1       6962  Atlantic  Absecon City   7.526387
2      12011  Atlantic  Absecon City   0.487085
3      12586  Atlantic  Absecon City   0.123967
4      13334  Atlantic  Absecon City   0.460114

In [6]:
#Check data types for all columns
df_Open_Space.dtypes

Object_ID         int64
County           object
Municipality     object
GIS_Acres       float64
dtype: object

In [7]:
#Pull up list of all columns
df_Open_Space.columns

Index(['Object_ID', 'County', 'Municipality', 'GIS_Acres'], dtype='object')

In [8]:
#Check value counts for Object ID
df_Open_Space['Object_ID'].value_counts(dropna = False)

3432     1
16226    1
14626    1
14491    1
14309    1
        ..
14318    1
14133    1
12679    1
12286    1
8369     1
Name: Object_ID, Length: 90700, dtype: int64

In [9]:
#Check for duplicates
df_Open_Space[df_Open_Space.duplicated()]

Empty DataFrame
Columns: [Object_ID, County, Municipality, GIS_Acres]
Index: []

In [10]:
#Generate descriptive statistics for key numeric data
df_Open_Space['GIS_Acres'].describe()

count    90700.000000
mean        12.564673
std         90.237723
min          0.000027
25%          0.057393
50%          0.229429
75%          3.314741
max       7835.686132
Name: GIS_Acres, dtype: float64

In [11]:
#Import orders data using os
df_Rutgers=pd.read_csv(os.path.join(path,'Rutgers_Data_Edited.csv'), index_col=False)

In [12]:
#Begin gathering basic information on the Rutgers dataset
df_Rutgers.shape

(565, 13)

In [13]:
df_Rutgers.head()

,County,Municipality,2019: Area,2021: Area,2019: Census Population,2021: Census Population,2020: Workforce,2020: % Unemployed,2017: Average Residential Property Value ($),2020: Average Residential Property Value ($),2020: Municipal Budget per Capita ($),2018: % Democrats,2018: % Republicans
0,Atlantic,Absecon,5.40,5.47,8411,9137,4437,17.33,176556.0,170824.0,1240,29.76,28.89
1,Atlantic,Atlantic City,10.75,10.76,39558,38497,15995,25.71,127451.0,144901.0,5609,94.97,9.41
2,Atlantic,Brigantine,6.39,6.52,9450,7716,4182,14.78,365841.0,383187.0,3562,22.24,42.13
3,Atlantic,Buena,7.58,7.57,4603,4501,1800,12.67,161849.0,160417.0,1160,26.02,28.02
4,Atlantic,Buena Vista,41.05,41.08,7570,7033,3052,14.29,195402.0,207713.0,709,35.38,24.35

In [14]:
#Look at data types
df_Rutgers.dtypes

County                                           object
Municipality                                     object
2019: Area                                      float64
2021: Area                                      float64
2019: Census Population                           int64
2021: Census Population                           int64
2020: Workforce                                   int64
2020: % Unemployed                              float64
2017: Average Residential Property Value ($)    float64
2020: Average Residential Property Value ($)    float64
2020: Municipal Budget per Capita ($)             int64
2018: % Democrats                               float64
2018: % Republicans                             float64
dtype: object

In [15]:
#Check for duplicates
df_Rutgers[df_Rutgers.duplicated()]

Empty DataFrame
Columns: [County, Municipality, 2019: Area, 2021: Area, 2019: Census Population, 2021: Census Population, 2020: Workforce, 2020: % Unemployed, 2017: Average Residential Property Value ($), 2020: Average Residential Property Value ($), 2020: Municipal Budget per Capita ($), 2018: % Democrats, 2018: % Republicans]
Index: []

In [16]:
#Generate descriptive statistics for some of the numeric columns
df_Rutgers['2021: Area'].describe()

count    565.000000
mean      13.017115
std       18.041215
min        0.090000
25%        1.570000
50%        4.270000
75%       19.160000
max      110.900000
Name: 2021: Area, dtype: float64

In [17]:
df_Rutgers['2021: Census Population'].describe()

count       565.000000
mean      16440.697345
std       26186.989006
min           7.000000
25%        3643.000000
50%        8374.000000
75%       19450.000000
max      311549.000000
Name: 2021: Census Population, dtype: float64

In [18]:
df_Rutgers['2020: % Unemployed'].describe()

count    565.000000
mean       9.218796
std        2.813982
min        0.000000
25%        7.550000
50%        8.740000
75%       10.530000
max       25.710000
Name: 2020: % Unemployed, dtype: float64

In [19]:
df_Rutgers['2018: % Democrats'].describe()

count    565.000000
mean      32.731257
std       12.214283
min       10.490000
25%       23.160000
50%       29.900000
75%       40.310000
max       94.970000
Name: 2018: % Democrats, dtype: float64

#Group the data and find the sum of the acreage for each municipality

In [20]:
df_Open_Space.groupby(['Municipality'])['GIS_Acres'].sum()

Municipality
Aberdeen Township       632.434504
Absecon City            390.772836
Alexandria Township    1129.808736
Allamuchy Township     5719.500007
Allendale Borough       217.481640
                          ...
Woodlynne Borough         5.957248
Woodstown Borough       165.070761
Woolwich Township       894.508264
Wrightstown Borough      20.874133
Wyckoff Township        151.570642
Name: GIS_Acres, Length: 535, dtype: float64

In [21]:
#Create a new column for the total acreage
df_Open_Space['Total_Acres']=df_Open_Space.groupby(['Municipality'])['GIS_Acres'].transform('sum')

In [22]:
#Check the shape of the dataframe again
df_Open_Space.shape

(90700, 5)

In [23]:
#Pull up the data for a visual check (Number was double checked in Excel to confirm as well)
df_Open_Space.head()

   Object_ID    County  Municipality  GIS_Acres  Total_Acres
0       3432  Atlantic  Absecon City   0.460114   390.772836
1       6962  Atlantic  Absecon City   7.526387   390.772836
2      12011  Atlantic  Absecon City   0.487085   390.772836
3      12586  Atlantic  Absecon City   0.123967   390.772836
4      13334  Atlantic  Absecon City   0.460114   390.772836

In [24]:
df_Open_Space = df_Open_Space.drop(columns = ['GIS_Acres'])

In [25]:
df_Open_Space = df_Open_Space.drop(columns = ['Object_ID'])

In [26]:
df_Open_Space.columns

Index(['County', 'Municipality', 'Total_Acres'], dtype='object')

In [27]:
#Check for duplicates
df_Open_Space[df_Open_Space.duplicated()]

         County    Municipality  Total_Acres
1      Atlantic    Absecon City   390.772836
2      Atlantic    Absecon City   390.772836
3      Atlantic    Absecon City   390.772836
4      Atlantic    Absecon City   390.772836
5      Atlantic    Absecon City   390.772836
...         ...             ...          ...
90693    Warren  White Township  2712.062549
90694    Warren  White Township  2712.062549
90695    Warren  White Township  2712.062549
90696    Warren  White Township  2712.062549
90697    Warren  White Township  2712.062549

[90140 rows x 3 columns]

In [32]:
df_Open_Space_2= df_Open_Space.drop_duplicates()

In [33]:
df_Open_Space_2.shape

(560, 3)

In [34]:
df_Open_Space_2.to_csv((r'C:\Users\Zinnia\Documents\Career Foundry Data Analytics Course\Achievement 6\Data\Edited\Edited_Open_Space_Data_July_31.csv'))

In [ ]:
df_Rutgers.shape

In [ ]:
df_merged = df_Rutgers.merge(df_Open_Space, how= 'left', on= ['Municipality'], indicator= True)

In [ ]:
df_merged.head()

In [ ]:
df_merged.shape

In [ ]:
#Check for duplicates
df_merged[df_merged.duplicated()]

In [ ]:
df_merged.drop_duplicates()

In [ ]:
#Export data in pickle format
df_merged.to_pickle(os.path.join(path, 'merged_edited_data.pkl'))

In [ ]:
df.to_csv((r'C:\Users\Zinnia\Documents\Career Foundry Data Analytics Course\Achievement 6\Data\Edited\Edited_Merged_Data_July_31.csv'))